<main class="main">
    <section class="container-main">
        <h1 class="heading-primary">Meet our team of veterinary Care Professionals</h1>

        <div class="vet-block grid-parent">
            <div class="vet-profile-block grid-child">
                <div class="vet-image">
                    <img src="~/Content/Images/Bios/adam-sniderman.jpg" alt="Adam Sniderman">
                </div>
                <div class="vet-name">Dr. Adam Sniderman</div>
                <div class="vet-title">DVM</div>
            </div>
            <div class="vet-bio-block grid-child">
                <p>Dr. Sniderman grew up in Englewood, NJ and attended high school at Horace Mann School. He graduated with honors from Cornell University in 1988 with a Bachelors degree in Animal Science and received his veterinary degree from the University of Pennsylvania in 1993.</p>
                <p>Upon completion of veterinary school, he started working in New Jersey at the North Bergen Animal Hospital before heading to Colorado where he gained experience in all aspects of veterinary medicine.</p>
                <p>Dr. Sniderman moved back to New Jersey in 2002 where he started working in emergency and critical care at Animal Emergency and Referral Associates as well as directing the Veterinary MRI and Radiotherapy Center of New Jersey. He is affiliated with Englewood Cliffs Vet, Dr. Lisa Attannasi, DVM.</p>
                <p>In 2005, Adam’s Animal Care was established and since that time Dr. Sniderman has worked as a relief vet and associate vet at many practices throughout Northern Jersey. Adam’s Animal Care was re-established in 2012 with the intention of bringing experienced, compassionate care in to the homes of pet owners in Northern Jersey.</p>
            </div>
        </div>





    <ul class="team-block grid-parent ul-base">

        <li class="team-each grid-child">
            <div class="team-each-container">
                <img src="~/Content/Images/Bios/jennifer-deibler.png" alt="Jennifer Deibler">
            </div>
            <div class="team-each-bio">
                <div class="team-each-member">Jennifer Deibler</div>
                <div class="team-each-role">Veterinary Technician</div>
                <p class="team-each-blurb">Dr. Sniderman has been working with Jennifer since 2010. Jennifer has been helping Dr. Sniderman with his in home practice since 2012. Jennifer is a trained veterinary technician and is available to provide in-house services for the Northern, NJ area.</p>
            </div>

        <li class="team-each grid-child">
            <div class="team-each-container">
                <img src="~/Content/Images/Bios/patricia-hart.jpg" alt="Jennifer Deibler">
            </div>
            <div class="team-each-bio">
                <div class="team-each-member">Patricia Hart</div>
                <div class="team-each-role">Veterinary Technician</div>
                <p class="team-each-blurb">Patricia first started working with Dr. Sniderman in 2005 where she was trained as veterinary technician. Patricia is located in Ridgefield Park, NJ and is available to provide in-house veterinary technician services for the local community</p>
            </div>

        <li class="team-each grid-child">
            <div class="team-each-container">
                <img src="http://placehold.it/100x300" alt="">
            </div>
        <div class="team-each-bio">
            <div class="team-each-member">Beth Dysinger</div>
            <div class="team-each-role">Veterinary Technician</div>
            <p class="team-each-blurb">Beth has been a Veterinary Technician for over 10 years. She trained alongside Dr. Sniderman for much of her career. Beth brings good humor, calm, and expertise to her work. She is available to clients in the Englewood/Teaneck, NJ area.</p>
        </div>

    </ul> <!-- /team-block -->

        <div class="join-block">

        </div> <!-- /join-block -->

        <div class="form-join-block">

        </div> <!-- /form-join-block -->
    </section> <!-- /container-main -->

</main>
