<div class="background-block background-block--contact">
    <div class="contact-info">

        <p class="contact-blurb">Dr. Sniderman and his staff are available for house calls. If your inquiry is regarding an appointment or you think your pet may be unwell, please email or telephone Dr. Sniderman for assistance. By Appointment Only. We are also available in Ulster County NY town of Shandaken for all of your pets needs.</p>

        <div class="grid-parent">
            <div class="grid-child">Phone: ( 2 0 1 ) &nbsp; 4 5 0 - 4 2 9 1</div>
            <div class="grid-child">Upstate NY: ( 8 4 5 ) &nbsp; 2 5 4 - 5 4 7 0</div>
            <div class="grid-child">
                Email: <a href="mailto:aesvmd@gmail.com">Vet@AdamsAnimalCare.Com</a>
            </div>
        </div>

    </div>
    <div class="overlay"></div>
    
</div>

