<div class="body">

    <h2>Convenitnt & Accessable Home Heath Care for Your Pet</h2>

    <h3>Adams’s Animal Care is pleased to provide the following veterinary services in the comfort of your home:</h3>

    <ul>
        <li>Highly experienced vet professionals</li>
        <li>Wellness Exams</li>
        <li>Annual Checkups</li>
        <li>Geriatric Pet Care</li>
        <li>Special Needs Pet Care</li>
        <li>Senior Citizen Assistance with Pets</li>
        <li>Senior Discounts/Group Discounts</li>
        <li>Doggy "Happy Hours"</li>
        <li>And last but not least... value for money.  We are committed to providing great value for money when it comes to great veterinary care.</li>
    </ul>

    <h2>Convenitnt & Accessable Home Heath Care for Your Pet</h2>

    <p>Dr. Sniderman’s experience allows him to address multiple medical programs at the level appropriate to each client. This attention to detail will provide more effective care for your pet. </p>

    <p>Adam’s Animal Care was established to cater vet care to the special needs of the individual patient. By bringing the service to the patient there is less stress and therefore better medical care in a more relaxed setting.</p>

    <p>In-home veterinary technician services include: </p>

    <ul>
        <li>Obtaining lad specimens for your local veterinarian or for Dr. Sniderman</li>
        <li>Obtaining lad specimens for your local veterinarian or for Dr. Sniderman</li>
    </ul>

    <p>Behavioral services are also available for clients and patients who require it. We employee a practical approach to behavior and provide solutions to behavior concerns. </p>

    <p>Adam’s Animal Care is well versed and commonly utilizes complimentary modalities to address frustrating medical problems. Dr. Sniderman will make himself available to take a fresh look and provide solutions which may have been elusive in a traditional veterinary practice. </p>

    <p>For areas beyond the radius, the fee will be based on the travel time.</p>

    <p>Dr. Sniderman does have availability to see patients out of his home office in Englewood NJ, if this is more convenient for clients. We also have a home office in Big Indian NY for our NY clientele. </p>

</div>